<!DOCTYPE html>
<html lang="en">

<head>
    <title>Image</title>
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap5/css/bootstrap5.min.css')}}">
</head>

<body>
    <div class="card">
        <div class="card-body">
            <img alt="ïmage" src="/static/Bootstrap5/img/image.jpg" class="mx-auto d-block" />
            <img alt="ïmage" src="/static/Bootstrap5/img/image.jpg" class="mx-auto d-block" />
            <img alt="ïmage" src="/static/Bootstrap5/img/image.jpg" class="mx-auto d-block" />
        </div>

    </div>
</body>

</html>